//- div.navbar-header
//- button.cus-pos(type="button", class="navbar-toggle boton", data-toggle="collapse", data-target="#links", id="menuToggle")
//-     span(class="glyphicon glyphicon-align-justify")
//- ul(class="collapse navbar-collapse" id="links")

ul.hidden-xs
    li.title
        a(href="#teach")
            | 三動作
        li
            a(href="#action1")
                | 動作一
        li
            a(href="#action2")
                | 動作二
        li
            a(href="#action3")
                | 動作三
        li
            a(href="#link")
                | 民間版「兩岸協定締結條例內容」
    li.title
            a(href="#ly")
                | 立委列表
