@charset "utf-8";
/* CSS Document */
/*reset*/
body,h1,h2,h3,h4,h5,h6,p,ul,ol{
	margin:0px;
	padding:0px;}
#all-wrap{
width:100%;
	max-width:960px;
	margin:auto;
	padding:20px 0;
	position:relative;}
h1{
font-size:28px;
color:#5b3a7c;
margin:0 0 7px 0;
text-align:center;
height:230px;
background:url(../images/banner.jpg) no-repeat top center;
text-indent:-3000px;
overflow:hidden;}
.contact-list{
	border-collapse:collapse;
	border:3px solid #5b3a7c;
	}
.contact-list th{
	background:#865fad;
	color:#fff;
	font-size:18px;
	padding:4px;}
.contact-list td,.contact-list th{
	border:1px solid #5b3a7c;
	}
.contact-list td{
	text-align:center;
	font-size:16px;}
.contact-list td.tleft{
	text-align:left;}
.contact{
	padding:4px;}
.even td{
	background:#e2d6ee;}
#share{
text-align:center;
margin:0 0 20px 0;}
.copyright{
text-align:center;
font-size:13px;
padding:10px;
line-height:1.4em;
}