<!DOCTYPE HTML>
<html ng-app="lyTelApp">
<head>
  <meta charset="utf-8">
  <title>立委聯絡資訊</title>
  <meta name="description" content="話筒式的公共參與：聯絡你的立委，表示你的意見。">
  <meta name="keywords" content="立委聯絡資訊,立委電話簿">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="css/style.css" rel="stylesheet" type="text/css">
  <link href="images/banner.jpg" rel="image_src" type="image/jpeg">
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
  <script src="js/app.js"></script>
</head>
<body ng-controller="LyListCtrl">
  <div id="all-wrap">
    <h1>立委聯絡資訊</h1>
    <!-- Button BEGIN -->
    <div id="share">
      <a target="_blank" href="http://www.facebook.com/share.php?u=http://goo.gl/WaUNpz"><img src="images/fb.png"></a>
      <a target="_blank" href="https://plus.google.com/share?url=http://goo.gl/WaUNpz"><img src="images/gplus.png"></a>
      <a target="_blank" href="http://twitter.com/home/?status=http://goo.gl/WaUNpz"><img src="images/twitter.png"></a>
      <a target="_blank" href="http://plurk.com/?qualifier=shares&status=http://goo.gl/WaUNpz"><img src="images/plurk.png"></a>
      <a target="_blank" href="http://v.t.sina.com.cn/share/share.php?title=立委聯絡資訊&url=http://goo.gl/WaUNpz">
        <img src="images/weibo.png"></a>
    </div>
    <!-- Button END -->
    <table width="100%" class="contact-list" id="contact-list">
      <thead>
        <tr>
          <th width="8%"><b>頭像</b></th>
          <th width="12%" id="name"><b>姓名</b></th>
          <th width="14%" id="party"><b>政黨</b></th>
          <th width="16%" id="constituency"><b>選區</b></th>
          <th width="50%"><b>聯絡資料</b></th>
        </tr>
      </thead>
      <tbody id="results">
        <tr ng-repeat="ly in lyList">
          <td><img width="32" height="32" alt="{{ly.name}}" src="{{ly.avatar}}"></td>
          <td>{{ly.name}}</td>
          <td>{{ly.party | partyName}}</td>
          <td>{{ly.constituency | constituencyName}}</td>
          <td class="tleft">
            <div class="contact" ng-repeat="(place, contact) in ly.contact">
              <strong>{{place}}</strong><br>
              <span ng-show="contact.phone">電話：<a href="tel:{{contact.phone}}">{{contact.phone}}</a></span><br>
              <span ng-show="contact.address">地址：<a href="http://maps.google.com.tw/?q={{contact.address}}">{{contact.address}}</a></span><br>
              <span ng-show="cantact.fax">傳真：<a href="fax:{{contact.fax}}">{{contact.fax}}</span></a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="copyright">
      本網頁授權條款為 Apache v2.0，原始碼請<a href="https://github.com/g0v/ly-tel">在此下載</a>。原始數據來源<a href="https://github.com/g0v/twlyparser/blob/master/data/mly-8.json">在此下載</a>。
      <br/>
      本網頁由雨蒼撰碼，Joy Hsu排版，朱家安製作Logo。感謝<a href="http://g0v.tw/">g0v零時政府</a>提供原始數據。
    </div>
  </div>
</body>
</html>
